@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-align: center;
}

.labels, .sliders {
    display: inline-block;
    vertical-align: middle;
}

.sliders {
    height: 400px;
    width: 400px;
    max-width: 100%;
    position: relative;
}

.sliders svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.value_holder {
    stroke: #b5b5b5;
}

.value_backdrop {
    stroke: #1f1f1f;
    opacity: 0.15;
}

.value_backdrop, .value_progress {
    fill: none;
}

.label {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.label .value {
    font-size: 1.8rem;
    text-align: right;
    width: 150px;
}

.label .color_box {
    width: 15px;
    height: 10px;
    margin: 0 10px;
}

.label .label_text {
    font-size: 1rem;
}
